.card-title {

    display: flex;
    /* justify-content: space-between; */

}

.card__image {
    width: 80px;
    margin-inline: 10px;
}


.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}