@import url('http://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

#video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero{
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.hero .content{
    text-align: center;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    top:40vh;
}
.hero .content h1{
    font-size: 3rem;
    color: #fff;
}

.hero p{
    font-size: 70px;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    margin-left: -10px;
    -webkit-text-stroke: 1px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.hero .btn{
    margin: 1rem .2rem;
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color:#fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.hero .btn-light{
    background: rgba(255,255,255,.2);
}
.hero .btn:hover{
    background: rgba(255,255,255,.2);
}


@media screen and (max-width: 648px){
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}

