/* ============================================    Category    =========================================================== */
.group_container {
  width: 75%;
  margin: 1rem 5rem;
  position: absolute;
  left: 12.5%;
  top: 56.7%;
  border-radius: 16px;
 
}
.h2{
  display: flex;
  justify-content: center;
}

.group_container h2{
  font-weight: 500;
  letter-spacing: 10px;
  width: 20rem;
  margin-left: 40%;
  margin-right: 40%;
 

background: rgba(0, 0, 0, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
}

.categorycard {
    height: 10rem;
    transition: transform 0.2s;
    margin-bottom: 1rem;
  }
  
  .categorycard:hover {
    transform: scale(1.1);
  }
  
  .categoryimage {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }
  
  .categoryimage img {
    
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 0.1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.group_container,
.categorycard p,
.categorycard,
.categorycard img,
Slider,
.categoryimage {


}



.categorycard p {
  margin-bottom: 1rem;
}

/* ============================== Categorize =========================================== */
.tryhard_category img{
  margin:auto;
  display: block;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 3.5rem;
  width: 3.5rem;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: black;
  padding-right: 40px;
  color:rgb(0, 0, 0);
}
.input-search::placeholder{
  color:rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: -3px;
  color:orange ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  color: black;
  background-color: transparent;
  border-bottom:1px solid orange;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid orange;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
