@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@media only screen and (min-width: 0px) and (max-width: 300px){
  .categorytxt{
    font-size : clamp(10vw, 1.5vw, 5vw);
  }

  .caroimg{
    height: 10vh  !important;
    object-fit: cover;
  }
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px ;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 1rem !important;
  }
  h2{
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.6rem !important;
  }
  h4{
    font-size: 1.4rem !important;
  }
  h5 {
    font-size: 1.2rem !important;
  }
  h6{
    font-size: 1rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}


a{
  text-decoration: none;
};

* {
  box-sizing: border-box;
}

.caroimg{
  height: 70vh;
  overflow: hidden;
  object-fit:cover;
}

.back{
  background-color: #121212;
}

/* ============================================    Navbar    =========================================================== */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 19%;
    
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.navbar-icon {
    display: inline-block;
    margin-left: 14px;
}
.navbar-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffaf01;
    opacity: 70%;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.navbar-icon a:hover::before {
    transform: scale(1);
}
.navbar-icon a i {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
  
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/* ============================================    Category    =========================================================== */

.categorycard{
  width: 1vh;
  transition: transform .2s;
 
}

.categorycard:hover {
  transform: scale(1.1); 
}

.categoryimage{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.categoryimage img{
  object-fit: cover;
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.dashimg{
  height: 10rem;
  object-fit: cover;
}

/* ============================================    Product Desc    =========================================================== */






.productmultimg{
  float: center;
  width: 100%;
  height: 35vh;
  max-height: 40vh;
  display: block;
  object-fit: contain;
}

.productsmall{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  
}
div.user_wallpaper a img{
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius:3%;

  }

  div.user_wallpaper a img:hover{
    transition: all 1s ease;
    cursor:pointer

  }
  div.card-body-1{
    background-color: #43219F;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 2%;
    padding: 10%;
    margin: 1%;
  }
  div.card-body-1:hover{
    background-color: white;
    color:crimson;
    transition: all 1s ease;
    cursor:pointer
  }
  div.card-body-2{
    background-color: #DC270E;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2%;
    padding: 1%;
    margin: 1%;
  }
  div.card-body-2:hover{
    background-color: white;
    color:black;
    transition: all 1s ease;
    cursor:pointer
  }
input[type=submit]{
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
