@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@media only screen and (min-width: 0px) and (max-width: 300px){
  .categorytxt{
    font-size : clamp(10vw, 1.5vw, 5vw);
  }

  .caroimg{
    height: 10vh  !important;
    object-fit: cover;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 1rem !important;
  }
  h2{
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.6rem !important;
  }
  h4{
    font-size: 1.4rem !important;
  }
  h5 {
    font-size: 1.2rem !important;
  }
  h6{
    font-size: 1rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}


/* 
@media screen and (min-width: 481px) and (max-width: 768px){
  h1{
    font-size: 3rem !important ;
  }
  h2{
    font-size: 2.8rem !important;
  }
  h3 {
    font-size: 2.6rem !important;
  }
  h4{
    font-size: 2.4rem !important;
  }
  h5 {
    font-size: 2.2rem !important;
  }
  h6{
    font-size: 2rem !important;
  }
  p {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  h1 {
    font-size: 4rem !important;
  }
  h2{
    font-size: 3.8rem !important;
  }
  h3 {
    font-size: 3.6rem !important;
  }
  h4{
    font-size: 3.4rem !important;
  }
  h5 {
    font-size: 3.2rem !important;
  }
  h6{
    font-size: 3rem !important;
  }
  p {
    font-size: 3rem !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
  h1 {
    font-size: 5rem !important;
  }
  h2{
    font-size: 4.8rem !important;
  }
  h3 {
    font-size: 4.6rem !important;
  }
  h4{
    font-size: 4.4rem !important;
  }
  h5 {
    font-size: 4.2rem !important;
  }
  h6{
    font-size: 4rem !important;
  }
  p {
    font-size: 4rem !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 2000px){
  h1 {
    font-size: 2.18rem !important;
  }
  h2{
    font-size: 1.875rem !important;
  }
  h3 {
    font-size: 3rem !important;
  }
  h4{
    font-size: 2rem !important;
  }
  h5 {
    font-size: 1.5rem !important;
  }
  h6{
    font-size: 1.6rem !important;
  }
  p {
    font-size: 1.6rem !important;
  }
} */

a{
  text-decoration: none;
};

* {
  box-sizing: border-box;
}

.caroimg{
  height: 70vh;
  overflow: hidden;
  object-fit:cover;
}
/* ============================================    Category    =========================================================== */

.categorycard{
  width: 1vh;
  transition: transform .2s;
 
}

.categorycard:hover {
  transform: scale(1.1); 
}

.categoryimage{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.categoryimage img{
  object-fit: cover;
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.dashimg{
  height: 10rem;
  object-fit: cover;
}

/* ============================================    Product Desc    =========================================================== */






.productmultimg{
  float: center;
  width: 100%;
  height: 35vh;
  max-height: 40vh;
  display: block;
  object-fit: contain;
}

.productsmall{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  
}
div.user_wallpaper a img{
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius:3%;

  }

  div.user_wallpaper a img:hover{
    transition: all 1s ease;
    cursor:pointer

  }
  div.card-body-1{
    background-color: #43219F;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 2%;
    padding: 10%;
    margin: 1%;
  }
  div.card-body-1:hover{
    background-color: white;
    color:crimson;
    transition: all 1s ease;
    cursor:pointer
  }
  div.card-body{
    background-color: #DC270E;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2%;
    padding: 1%;
    margin: 1%;
  }
  div.card-body:hover{
    background-color: white;
    color:black;
    transition: all 1s ease;
    cursor:pointer
  }
input[type=submit]{
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
