html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.maincontainer {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.maincontainer #maincard {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
  box-shadow: 2ch;
}


.maincontainer #list {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);

}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.khalti-container {
  width: 100;
}


.khalti-container .khalti {
  width: 80px;
  margin-left: 20px;
  margin-top: 5px;

}

.Cash-container {
  width: 100;
}

.Cash-container .Cash {
  width: 60px;
  margin-left: 20px;
  margin-top: 5px;



}