:root{
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-gray: #8390A2;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none ;
    font-family: 'Poppins',sans-serif;
  }
  
  .widebar{
    
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
  }
  .widebar-brand{
    
    height: 100px;
    padding: 1rem;
    color: #fff;
  }
  .widebar-brand span{
    
    display: none;
    padding-right: 9rem;
  }
  .widebar-menu span{
    
    display: none;
  }
  .widebar-menu{
    margin-top: 2rem;
    
  }
  .widebar-menu li{
    
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 0rem;
  }
  .widebar-menu a{
    padding-left: 0rem;
      display: block;
      color: #fff;
      font-size: 1.1 rem;
  }
  .lesgo{
    padding: 0rem;
  }
  .widebar:hover{
        
    width: 345px;
    z-index: 200;
   }
   .widebar:hover .widebar-brand,
    .widebar:hover li {
     padding-left: 2rem;
     text-align: left;
    }
    .widebar:hover li a{

     padding-left: 1rem;
    }
    .widebar:hover .widebar-brand h2 span:last-child,
    .widebar:hover li a span:last-child{
     display: inline;
    }
  #nav-toggle:checked + .widebar{
   width: 80px;
  }
  #nav-toggle:checked + .widebar .widebar-brand, 
  #nav-toggle:checked + .widebar li {
    padding-left: 1rem;
    text-align: center;
   }
   /* #nav-toggle:checked + .widebar .lesgo{
    padding: 2rem;
    margin-left: 40%;
    margin-top: -10%;
   } */
   #nav-toggle:checked + .widebar li a{
    padding-left: 0rem;
   }
  #nav-toggle:checked + .widebar .widebar-brand h2 span:last-child,
  #nav-toggle:checked + .widebar li a span:last-child{
    display: none;
   }

  #nav-toggle{
    display: none;
  }

  @media only screen and (max-width: 1200px){
    .widebar{
      width: 80px;
     }
     .widebar .widebar-brand,
      .widebar li {
       padding-left: 1rem;
       text-align: center;
      }
      .widebar li a{
       padding-left: 0rem;
      }
      .widebar .widebar-brand h2 span:last-child,
      .widebar li a span:last-child{
       display: none;
      }
      .widebar:hover{
        
        width: 345px;
        z-index: 200;
       }
       .widebar:hover .widebar-brand,
        .widebar:hover li {
         padding-left: 2rem;
         text-align: left;
        }
        .widebar:hover li a{

         padding-left: 1rem;
        }
        .widebar:hover .widebar-brand h2 span:last-child,
        .widebar:hover li a span:last-child{
         display: inline;
        }
  }
  /* @media only screen and (max-width:768px){
    .widebar{
      left: -100% !important;
    }

  } */
  @media only screen and (max-width:768px){

    .widebar{
      left: -1% !important;
      width: 65px;
    }
    #nav-toggle:checked + .widebar{
      left: 0 !important;
      z-index: 100;
      width: 345px;
    }
  
    #nav-toggle:checked + .widebar .widebar-brand,
    #nav-toggle:checked + .widebar li {
       padding-left: 2rem;
       text-align: left;
      }
      #nav-toggle:checked + .widebar li a{
       padding-left: 1rem;
      }
      #nav-toggle:checked + .widebar .widebar-brand h2 span:last-child,
      #nav-toggle:checked + .widebar li a span:last-child{
       display: inline;
      }
  }